.aws-btn {
    --slider-height-percentage: 35%;
    --slider-transition-duration: 700ms;
    --organic-arrow-thickness: 4px;
    --organic-arrow-border-radius: 0px;
    --organic-arrow-height: 40px;
    --organic-arrow-color: #26456f;
    --control-button-width: 10%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: #2d5182;
    --control-bullet-active-color: #26456f;
    --loader-bar-color: #851515;
    --loader-bar-height: 6px;
    border-radius: 7px;
    background-position: center;
    /* background-size: fill; */
    --loader-bar-background-color: #26456f;
    --loader-bar-background-color-active: #26456f;
    --loader-bar-background-color-active-opacity: 0.5;
    --loader-bar-height-active: 4px;
    --loader-bar-height-active-opacity: 0.5;
    --loader-bar-border-radius: 0px;
    --loader-bar-border-radius-active: 0px;
    --loader-bar-border-radius-active-opacity: 0.5;
    --loader-bar-border-width: 1px;
    --loader-bar-border-width-active: 1px;
    --loader-bar-border-width-active-opacity: 0.5;
    --loader-bar-border-color: #26456f;
    --loader-bar-border-color-active: #26456f;
    --loader-bar-border-color-active-opacity: 0.5;
    background-size: contain;
    display: flex;
    z-index: -1;
    max-width: 100%;
    max-height: 100%;
}

@media screen and (max-width: 992px) {
    .aws-btn {
        margin: 3rem 0 !important;
        --slider-height-percentage: 55%;
    }
}
